[Desktop Entry]
Name=MonkeyLauncher
Comment=Wine/Proton game launcher
Exec=MonkeyLauncher
Icon=monkeylauncher
Type=Application
Categories=Game;
Terminal=false
